/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#thetable .purple {
  color: purple;
}
.green {
  color: green;
}
a, a:visited {
  color: green;
  text-decoration: none;
}
table {
  border: 1px solid green;
  padding: 20px;
}
